@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
  }

:root {
    --pixel-size: 4;
    --grid-cell-size: calc(48px * var(--pixel-size));
  }

  /* shrink pixel size on modile */
  @media (max-width: 720px) {
    :root {
      --pixel-size: 2;
      --grid-cell-size: calc(48px * var(--pixel-size));
    }
  }

  /* shrink pixel size on mobile and landscape */
  @media (max-width: 1080px) and (orientation: landscape) {
    :root {
      --pixel-size: 2;
      --grid-cell-size: calc(48px * var(--pixel-size));
    }
  }
  
  .pixel-art {
    image-rendering: pixelated;
  }
  
  .map {
    background-size: 100%;
    width: calc(20 * var(--grid-cell-size));
    height: calc(20 * var(--grid-cell-size));
    position: relative;
  }
  
  .item {
    overflow: hidden;
  }

  .item, .item .sheet {
    background-size: contain;
  }
  
  .item > .sheet {
    background-repeat: no-repeat;
    transform: translate3d(0px, 0, 0);
  }

  .sprite-container {
    animation-duration: 2s;
  }

  .sprite-container .sprite .sheet {
    transition: all .5s ease-in-out;
  }

  
  .sprite-container.dead {
    opacity: 50;
  }

  .sprite-container.dead .sprite .sheet {
    filter: grayscale(100%);
  }
  
  .sprite {
    overflow: hidden;
  }
  
  .sprite > .outline-hover {
    opacity: 0;
  }
  
  .sprite.is-focused > .outline-hover {
    opacity: 1;
  }
  
 .sprite-sheet {
    background-size: contain;
    background-repeat: no-repeat;
  }
  

  .map-object {
    animation: moveLeft 15s linear;
  }

  @keyframes moveLeft {
    from {
      left: 100%;
    }
  
    to {
      left: -100%;
    }
  }


  html {
    height: --webkit-fill-available;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .btn {
    color: #fff;
  }


  /* on mobile screens keep #scene at 720x720 */
  @media (max-width: 720px) {
    #scene {
      width: 100vw;
      height: 100vw;
      max-width: 100vw;
      max-height: 100vw;
    }
  }

  /* create minecraft font family */
  @font-face {
    font-family: 'Minecraft';
    src: url('../public/fonts/minecraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }